/* dashboard.css */

body {
  margin: 0;
  font-family: "Noto Sans", "Roboto", sans-serif;
  background-color: #000000;
}
.user-info a {
  text-decoration: none;
  color: black;
}

.header {
  border-bottom: 1px solid #2D2D2D;
  position: fixed;
  top:0;
  left: 0;
  z-index: 3;
  background-color: #0A0A0A;
  width: 100%;
}

.margin-logo-left {
  margin-left: 30px;
}

.logo {
  padding: 10px;
  background-color: #000000;
} 

.logo-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #000;
  color: #fff;
}

.logo-bar img {
  height: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.dev {
    margin-left: 3px;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 9px;
    background: black;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid #b3b3b3;
}

.main-upcoin {
  font-weight: bold;
  font-size: 18px;
}

.sub-upcoin {
  font-size: 11px;
}

.brand-name {
  font-size: 16px;
  font-weight: 500;
  color: #464646;
}

.blink {
  animation: blink-effect 1s step-end infinite;

}

li a {
  display: flex;
  align-items: center;
  gap: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: -40px;
  width: 200px;
  background-color: #000000;
  height: 100%;
  overflow: auto;
  position: fixed;
  border: 1px solid #2D2D2D;
}

li a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #ffffff;
  font-weight: bold;
}

li a:hover {
  background: #e4e4e4;
  color: #000000;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

li a.home {
  background-color: #181818;
  color: #ffffff;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.body {
  margin-left: 221px;
  margin-top: 110px;
}

.right-block {
  border: 1px solid #e2e5eb;
  border-radius: 20px;
  box-shadow: 10px 10px 27px rgba(0, 0, 0, 0.06);
  padding: 30px;
  font-size: 30px;
  font-weight: 600;
  position: fixed;
  top: 150px;
  right: 200px;
  background-color: #FFFFFF;
}

.detail-btn {
  width: 80px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #007531;
  border: 1px solid #007531;
  border-radius: 0.8rem;;
  font-size: 15px;
  color: white;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}

.sidemenu-title {
  margin-left: 7px;
  color: #787878;
  font-weight: 600;
  margin-bottom: 3px;
}

.margin-top-menu {
  margin-top: 30px;
}


.gg-log-out {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 6px;
  height: 16px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: -10px
}

.gg-log-out::after,
.gg-log-out::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-log-out::after {
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
  left: 4px;
  bottom: 2px
}

.gg-log-out::before {
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: 5px;
  bottom: 5px
}


.btn {
 display: block;
 width: 20px;
 height: 20px;
 border: 3px solid #000;
 border-width: 3px 3px 0 0;
 cursor: pointer;
}

.prevDay {
  transform: rotate(-135deg);
}

.nextDay {
  transform: rotate(45deg);
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;  
  font-family: Pretendard;
}


.stduent-header {
  margin-top: 30px;
  margin-right: 60px;
}

.stduent-header h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
  
}

.des {
  margin-top: 10px;
  color: #7b7b7b;
  margin-bottom: 30px;
}

table, td, th {
  border: 1px solid #7b7b7b;
  border-collapse: collapse;
}

table {
  width: 100%;
} 

th {
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.table {
  display: block;
  max-height: 60vh;
  overflow-y: scroll;
  border: 1px solid #7b7b7b;
}

.grade-selector {
  display: flex;
  margin-top: 10px;
}

.grade-selector a {
color: #0086e5; 
text-decoration: none;
}

.grade-selector p {
  margin-right: 10px;
  color: #0086e5;
}

.grade-selector div {
  margin-right: 10px;
}

.rmv-btn {
  width: 80px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #EB003B;
  border: 1px solid #EB003B;
  border-radius: 0.8rem;;
  font-size: 15px;
  color: white;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
}

.student-registar {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: -60px;
}

select, input {
  font-size: 15px;
  padding: 7px;
  border-radius: 12px;
  width: 100px;
  border: 1px solid #7b7b7b;
}

label {
  font-size: 17px;
  margin-left: 10px;
}

input[type=file]::file-selector-button {
  background: #fff;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  cursor: pointer;
}
input[type=file]::file-selector-button:hover {
  background: #007531;
  color: #fff;
}

.file {
  width: 250px;
}

.alert {
  color: red;
  margin-bottom: 12px;
}

.download-btn {
  background-color: #007531;
  padding: 5px;
  border-radius: 7px;
  color: white;
  text-decoration: none;

}

.id-card {
  border-radius: 30px 30px 20px 20px;
  background: #fffbdd;
  box-shadow: 10px 10px 27px rgba(0, 0, 0, 0.06);  padding-top: 15px;
  padding: 0px;
  margin-left: 3vw;
  margin-right: 3vw;
  max-width: 400px;
  text-align: center;
}

.barcode-var {
  margin: 0;
  letter-spacing: 10px;
  font-weight: 600;
}

.student-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 6px;
  color: white;
  background-color: #007531;
  border-radius: 0px 0px 20px 20px;
}

.id-card h1 {
  margin: 0;
  color: #393939;
  padding-top: 13px;
  padding-bottom: 5px;
  font-size: 1.9em;
}
.textarea{ 
width: 80%; max-width:1000px; margin-top:10px; height:500px; border-radius:8px;padding:10px;
}